div.react-calendar__navigation{
    margin: 0;
}

.react-calendar__navigation {
    background-color: #7761FF;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.react-calendar__navigation__label__labelText {
    color: #ffffff;
}

.react-calendar__navigation__arrow {
    color: #ffffff;
}

button.react-calendar__month-view__days__day {
    padding: 25px 25px;
}

.react-calendar__viewContainer {
    background-color: #EBE7FF;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}