.e-card__list-item {
    list-style: none;
    margin-bottom: 7px;
}

.e-card__list-item::before {
    color: #50CAFF;
    content: "•"; 
    padding-right: 10px;
}

.e-card__list-item:last-child {
    margin-bottom: 20px;
}