.aside__item_type_doc::before {
    content: '';
    background-image: url(../../../../image/aside-doc.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-right: 45px;
}