@import url(./__item/aside__item.css);
@import url(./__list/aside__list.css);
@import url(./__logo/aside__logo.css);

.aside {
    display: flex;
    flex-direction: column;
    width: 190px;
    min-height: 100vh;
    background-color: #003B72;
}