@import url(./__list/header__list.css);
@import url(./__item/header__item.css);
@import url(./__navbar/header__navbar.css);
@import url(./__title/header__title.css);
@import url(./__link/header__link.css);

.header {
    width: 100%;
    background-color: #50CAFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}